*{
    margin: 0;
    padding: 0;
}

#g0{
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

#g1{
    left: 0;
    background-color: green;
}

#g2{
    right: 0;
    background-color: red;
}

#g3{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

img{
    width: 300px;
    height: 300px;
}